digest-bot-workflow.json
{
  "name": "📰 Digest Bot (Ento)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8a842881-ef38-43ff-a20a-9c9c5a83f65a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?q=artificial intelligence&language=en&sortBy=publishedAt&pageSize=5&apiKey=cd075689f9214698b91723a84923eeb4",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "39474b30-d0db-4dd4-b9d2-e77ee456bd6b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.first().json.articles;\n\nreturn articles.map(article => ({\n  json: {\n    title: article.title,\n    description: article.description,\n    url: article.url,\n    source: article.source.name,\n    publishedAt: article.publishedAt\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "250587e6-da17-4309-8e96-8a0d6b80d1ca",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer gsk_YOUR_GROQ_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Новина: {{ $json.title }}. {{ $json.description }}\\n\\nНапиши підсумок українською в 2-3 реченнях.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "c58f9836-f314-4244-8622-a38dd07292cc",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "chatId": "5592507961",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "00cf673a-1371-4860-8aee-9052ddaad17e",
      "name": "Send a text message",
      "webhookId": "8d9e42f3-be8d-4285-9b6c-10d13a272c2e",
      "credentials": {
        "telegramApi": {
          "id": "yviv9dOYaYkY14dy",
          "name": "YouTube Summarize Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d772644f-9482-40a8-8cbe-1f5fe217c6be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7ca37716c5b237add07422b80ebe88cde397c8da171a0ac6a93f6cf4d60da00"
  },
  "id": "ZabOkKlM47vM3dLy",
  "tags": []
}
